.transactionTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
}
.transactionTable td,
.transactionTable th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.transactionTable tr:nth-child(even) {
  background-color: rgba(211, 211, 211, 255);
}
.transactionTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black;
  color: white;
}
.typeTransaction {
  text-transform: capitalize;
}
